header {
  display: inline-flex;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  
}

header img {
  padding-top: 15px;
  padding-left: 10px;
  width: 70px;
  height: 50px;
  margin-right: 1615px;
}

body {
  background-color: rgb(29, 70, 70);
  color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.area-header {
  display: inline-flex;
  padding-left: 40px;
  background-color: wheat;
}

.new-area-form {
  padding-top: 35px;
  padding-left: 1430px;
  margin-right: 8px;
}

.area-container {
  background-color: rgb(29, 70, 70);
}

.area-element {
  color: azure;
}

.search-bar {
  color: azure;

}

.new-position-form {
  color: azure;
  display: inline-flex;
}

.position-container {
  color: azure;
}

.position-container h2  {
  display: inline-flex;
  padding-right: 1130px;
}



